@import "tailwindcss";

@theme {
  --font-display: "Consolas", sans-serif;
  --color-bg: #141932;
  --color-text: #d0d0d0;
  --anim-delay: 1.5s;
}

body {
  font-family: var(--font-display);
  color: var(--color-text);
  background-color: var(--color-bg);

  padding: clamp(2rem, 8vw + 2rem, 15rem);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.5px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  will-change: transform;
}

@media (hover: hover) and (pointer: fine) {
  a:hover::after {
    transform: scaleX(1);
  }
}
